* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF0F3;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px 10px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #b0c4de;
}